body {
    font-family: "Arial", sans-serif;
}

.card {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
}

textarea {
    resize: none;
}
